<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #2738ff;"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">S.B.Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/'}" th:text="#{label.home}"></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/about'}" th:text="#{label.about}"></a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/login'}" th:text="#{label.login}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/register'}" th:text="#{label.register}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: aliceblue" href="JavaScript:void(0)" onclick="document.getElementById('logoutFormId').submit()" th:text="#{label.logout}"></a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/profile'}" th:text="${currentUser.getFullName()}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue" href="?lng=ru">RUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue" href="?lng=end">ENG</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: aliceblue" th:href="@{'/additem'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')" th:text="#{label.add_item}"></a>
                </li>

                <form th:action="@{'/logout'}" method="post" id="logoutFormId" sec:authorize="isAuthenticated()">

                </form>

            </ul>
            <form class="d-flex my-sm-2">
                <input class="form-control me-3" type="search" th:placeholder="#{button.search}" aria-label="Search">
                <button class="btn btn-outline-light" type="submit" th:text="#{button.search}"></button>
            </form>
        </div>
    </div>
</nav>