<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html">
    <div layout:fragment="content">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form th:action="@{'/saveitem'}" method="post">
                    <div class="form-group">
                        <label>
                            NAME :
                        </label>
                        <input type="text" class="form-control" name="item_name" th:value="${item!=null?item.getName():''}">
                    </div>
                    <div class="form-group">
                        <label>
                            PRICE :
                        </label>
                        <input type="number" class="form-control" name="item_price" value="0" max="10000000" min="0" th:value="${item!=null?item.getPrice():'0'}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success my-sm-2" style="background-color: #3557ff; color: aliceblue; border-color: #3557ff;">SAVE ITEM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>