<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form th:action="@{'/additem'}" method="post">
                    <div class="form-group">
                        <label th:text="#{label.name}"></label>
                        <input type="text" class="form-control" name="item_name">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.price}"></label>
                        <input type="number" class="form-control" name="item_price" value="0" max="10000000" min="0">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.amount}"></label>
                        <input type="number" class="form-control" name="item_amount" value="0" max="1000000" min="0">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.country}"></label>
                        <select class="form-control" name="country_id">
                            <option th:each="cnt : ${countries}" th:text="${cnt.getName()+'/'+cnt.getCode()}" th:value="${cnt.getId()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success my-sm-2" th:text="#{button.add}"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table table-stripped">
                    <thead>
                    <th>ID</th>
                    <th th:text="#{label.name}"></th>
                    <th th:text="#{label.price}"></th>
                    <th th:text="#{label.amount}"></th>
                    <th th:text="#{label.details}" sec:authorize="isAuthenticated()"></th>
                    <th th:text="#{label.country}"></th>
                    <th th:text="#{label.categories}"></th>
                    </thead>
                    <tbody>
                    <tr th:each="it : ${goods}">
                        <td th:text="${it.getId()}"></td>
                        <td th:text="${it.getName()}"></td>
                        <td th:text="${it.getPrice()}"></td>
                        <td th:text="${it.getAmount()}"></td>
                        <td>
                            <span th:each="category: ${it.getCategory()}" th:text="${category.getName()}" style="display: block;"></span>
                        </td>
                        <td th:text="${it.getCountry()!=null?it.getCountry().getName()+'-'+it.getCountry().getCode():'---'}"></td>
                        <td><a th:href="@{'/details/'+${it.getId()}}"
                               class="btn btn-info btn-sm"
                               style="background-color: #3557ff; color: aliceblue; border-color: #3557ff;"
                               th:text="#{label.details}"
                               sec:authorize="isAuthenticated()"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>