<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html" style="min-height: 800px;">
    <div layout:fragment="content">
        <div class="row mt-5">
            <div class="col-12">
                <h3 class="text-center">
                    This is Your Profile Page,
                    <span th:text="${currentUser.getFullName()}"></span>
                </h3>
                <div class="row">
                    <div class="col-6 offset-3">
                        <img th:src="@{'/viewpics/'+${currentUser.getAvatar()}}" class="my-3" style="width: 100%;">
                        <form th:action="@{'/uploadavatar'}" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="formFile" class="form-label" th:text="#{button.chooseFile}"></label>
                                <input class="form-control" type="file" id="formFile" name="user_ava">
                                <button class="btn btn-success mt-2" th:text="#{button.uploadFile}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>